body.show-modal .backdrop{
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }

  .body.show-modal .modal{
    transform: scale(1);
  }

  .backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightslategray;
    z-index: 999;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
  }

  .modal {
    padding: 24px;
    border-radius: 4px;
    max-width: 640px;
    width: 70%;
    min-height: 320px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px 0 rgb(0, 0, 0, 0.2,),
    0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    transform: scale(1.1);  
    transition: transform 200ms ease-in-out;
}

body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #7cbbe8;
    background-image: url(./imeg.img/1560664221_1.jpg);
}

.sol {
    width: 100%;
    height: 250px;
    background-color: #159fc5;
    border-bottom: 15px solid;
    transition: top 1s ease-in-out;
    position: absolute;
    top: -250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    animation: render 3s ease-in-out infinite;
  }

  .sol:hover {
    top: 0;
  }

  .button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #0fe516; /* Green */
}

@keyframes render {
    0% {
        background-color: #159fc5;
    }
    50% { 
        background-color: #6a7f85;
    }
    100% {
       background-color: #159fc5; 
    }
}

.box {
    width: 200px;
    height: 200px;
    background-color: #37d13c;

    position: relative;
    top: 0;
    left: 0;
    animation: trek 4s ease-in-out infinite;
}

@keyframes trek {
    0% {
      top: 0;
      left: 0;
      background-color: #37d13c;
    }
    25% {
      top: 0;
      left: 300px;
      background-color: #3da9e8;
      border-radius: 50%;
    }
    50% {
      top: 500px;
      left: 300px;
      background-color: #a5eb65;
    }
    75% {
      top: 500px;
      left: 0px;
      background-color: #c3902f;
      border-radius: 20%;
    }
}

/* * {
	
} */

.sekcion {
  /* background-color: rgb(214, 84, 84);  */
   overflow: hidden; 
   padding-top: 150px;
   box-sizing: border-box;
}

.container {
  margin-top: 50px;
	position: relative;
	margin: 200px auto;
	width: 300px;
	height: 300px;
	perspective: 500px;
}

.cube {
	width: inherit;
	height: inherit;
	transform-style: preserve-3d;
  
}

.side {
	position: absolute;
	width: inherit;
	height: inherit;
	border: 1px solid  #7cbbe8;;
  
	font: normal 70px Arial;
	text-align: center;
	line-height: 300px;
	color: #7cbbe8;
  /* backface-visibility: hidden; */
   background-color: #7cbbe8;
}

.front {
  display: flex;
  align-items: center;
	transform: translateZ(150px);
   background-color: #0d1d28;
  
}


.back {
	background-color: #7cbbe8;
  transform: rotateY(180deg) translateZ(150px);
}

.right {
  background-color: #7cbbe8;
	transform: rotateY(90deg) translateZ(150px);
}

.left {
  background-color: #7cbbe8;
	transform: rotateY(-90deg) translateZ(150px);
}

.top {
  background-color: #98acbb;
	transform: rotateX(90deg) translateZ(150px);
}

.top:hover {
  background-color: #3f4347;
  background-image: url('./imeg.img/search.png');
}

.bottom {
  background-color: #7cbbe8;
	transform: rotateX(-90deg) translateZ(150px);
}
/* бургер */
.sekcion1 {
  height: 100vh;
  background-color: #bee306;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 50%;
  position: relative;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn_active span:before {
  transform: rotate(-35deg);
  width: 10px;
  transform-origin: left bottom;
}
.menu-btn_active span:after {
  transform: rotate(35deg);
  width: 10px;
  transform-origin: left top;
}
.menu-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-nav a {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  font-weight: 100;
  display: inline-block;
  margin-right: 20px;
  transition: 1s;
}
.menu-nav {
  transition: 0.2s;
  transform: scaleX(0) translateX(0%);
  transform-origin: right center;
  opacity: 0;
  visibility: hidden;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: -25px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.menu-nav_active {
  transform: scaleX(1) translateX(0%);
  opacity: 1;
  visibility: visible;
}

/* .fon-cub {
   <img class="fon-cub" src="/imedq.img/tekstura-goluboj-fon-kirpichi.jpg" alt=""> 
} */

.front {
  background-image: url('./imeg.img/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center ;
  justify-content: center;
}

.back {
  background-image: url('./imeg.img/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center ;
}

.right {
  background-image: url('./imeg.img/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center ;
}